* {
	margin: 0;
	padding: 0;
	font-family: 'Acme', sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
 	-webkit-box-sizing: border-box;
 	--backGround: #EAEACA;
 	--coloridoFundoPadrao: #AAE917;
 	--coloridoFundoEscuro: #0A1503;
 	--coloridoFundoClaro: #FFFFFF;
}

body {
	background-color: var(--backGround);
	padding: 10px;
	color: var(--coloridoFundoEscuro);
}

button {
	background-color: var(--coloridoFundoClaro);
 	border: none;
 	font-size: 16px;
 	cursor: pointer;
 	width: 100%;
 	padding: 5px;
}

button:hover {
	background-color: var(--coloridoFundoPadrao);
	color: var(--coloridoFundoClaro);
	text-decoration: underline;
  	text-shadow: 1px 1px 5px #092FC6;
}

/*Cabeçalho*/
.cabecalho {
	text-align: center;
	background-color: var(--coloridoFundoPadrao);
	padding: 20px;
}
.cabecalho h1 {
	font-size: 50px;
}

.cabecalho a {
	text-decoration: none;
	color: var(--coloridoFundoEscuro);
}

/*Barra de Navegação*/
.barra {
	background-color: var(--coloridoFundoEscuro);
	color: var(--coloridoFundoClaro);
	overflow: hidden;
}

.barra a {
 	color: var(--coloridoFundoClaro);
 	font-size: 16px;
 	padding: 10px;
 	cursor: pointer;
 	float: left;
 	text-decoration: none;
}

.barra a:hover {
	background-color: var(--coloridoFundoClaro);
	color: var(--coloridoFundoEscuro);
	text-decoration: underline;
}

/*Colunas de conteúdo*/
.colunaEsquerda {
	float: left;
  	width: calc(2 * 100% / 3);
}

.colunaDireita {
	float: left;
  	width: calc(100% / 3);
  	padding-left: 20px;
}

.bloco {
	background-color: var(--coloridoFundoClaro);
	padding: 10px;
	margin-top: 20px;
}

/*Rodapé*/
.rodape {
	text-align: center;
	background-color: var(--coloridoFundoPadrao);
	padding: 20px;
  	margin-top: 20px;
  	overflow: hidden;
}

.rodape img {
	width: 100px;
	height:100px;
}

/*Clearfix*/
.corpo:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .colunaEsquerda, .colunaDireita {
    width: 100%;
    padding: 0;
  }

  .rodape img {
  	width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .barra a {
    width: 100%;
    text-align: center;
  }
}