body {
	background-color: #0075FF;
	background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
	text-align: center;
}

button {
	background-color: #EEF1FC;
 	border: none;
 	color: #C22900;
 	padding: 20px;
 	font-size: 16px;
 	cursor: pointer;
 	float: left;
 	width: 20%;
 	cursor: -webkit-grab; 
 	cursor: grab;
}

button:hover {
	background-color: #C22900;
	color: #EEF1FC;
	text-decoration: underline;
  	text-shadow: 1px 1px 5px #092FC6;
}

button:active {
	cursor: -webkit-grabbing; 
	cursor: grabbing;
}

.botoes {
	width: 70%;
	margin: auto;
	margin-top: 50px;
}

.cabecalho {
	margin: auto;
	font-size: 99px;
	color: #EEF1FC;
	text-shadow: 5px 5px 5px black;
}